@media(min-width: 770px) and (max-width: 860px){

    .header__container{
        flex-direction: column;
        justify-content: center;        
    } 

    

}

@media(max-width: 860px) {
    /* .skills__cards{
        justify-content: center;
    }     */
    
}

@media(max-width: 860px){
    /* .sobre__container, .skills__container{
        padding: 24px;
    } */
}

@media(max-width: 974px){
   /*  .skills__cards{
        justify-content: center;
    } */
}