@media(min-width: 770px) and (max-width: 860px){

    .header__container{
        flex-direction: column;
        justify-content: center;        
    } 

    

}

@media(max-width: 1260px){

    .experience__project img{
        width: 100%;
        height: auto;
    }

    .experience__project{
        justify-content: left;
    }


    .experience__container .experience__project:nth-of-type(2), 
    .experience__container .experience__project:nth-of-type(4) {
        flex-direction: column-reverse;
    }
}