@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}


:root{
    --main-font-family:"Montserrat", sans-serif;
    --text-white: #f2f2f2;
    --text-black: #48464C;
    --yellow: #FDB827;
    --black: #31363F;
    --background-black: #222831;
    --background-white: #EEEEEE;
    --background-dark-purple: #615EFC;
    --background-light-purple: #7E8EF1;
}

body{
    width: 100%;
    font-family: var(--main-font-family);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;    
   
    background-color: var(--background-black);
    color: var(--text-white);
    font-size: 1em;
}

/*Menu*/
header{
    
    
    
}

p{
    line-height: 24px;
}

button{
    border-radius: 3px;
    transition:0.2s;
}

button:hover{
    cursor: pointer;
    opacity: 80%;
    
}

button:disabled{
    cursor: not-allowed;
    background-color: #222831;
}


input,textarea{
    padding: 12px;
    border-radius: 3px;
    color: var(--text-black);
}

input,textarea{
    border: none;
    outline: none;
    box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--text-black);
}

input:focus,textarea:focus{
    border: 1px solid var(--background-light-purple);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: var(--black);
}



.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
    padding: 0 152px 0 152px;
    height: 108px;  
    
}

.header__logo i {
    font-size: 30px;
    padding: 24px;
}

.menu__container{
    position: relative; 
    
}

.menu__label{
    display: none;
}

.menu__list{
    display: flex;    
    gap:32px;
}

.menu__item{   
    padding: 24px;    
}

/*Home*/

.titulo-principal{
    /*max-width: 480px;*/
    text-align: center;
    /* height: 100px; */
    /*margin: 60px auto;*/
    font-family: "Fira Code", monospace;
    font-size: 52px;
    color: #fff;    
}

.titulo-principal:after{
 content: '|';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;
}
/* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}


.home__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    min-height: 500px;
    padding: 64px 152px 64px 152px;
    
    text-align: center;
    gap: 24px;
}

.home__titulo_e_descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   
    gap: 24px;
}

.home__titulo_e_descricao p{
    font-size: 16px;    
}
.home__titulo_e_descricao .text-small{   
    font-size: small;
}

.home__links{
    display: flex; 
    gap: 24px;
}

.home__links a{
    display: flex;
    align-items: center;   
    gap: 12px;
}

.home__links a:hover{
    color: var(--background-light-purple);
}

/*Sobre*/

.sobre{
    /*background: linear-gradient(180deg, rgba(34,40,49,1) 0%, rgba(126,142,241,1) 100%,rgba(34,40,49,1) 0%);*/
    background-color: var(--black);
    
}

.sobre__container{    
    display: flex;
    align-items: center;
    min-height: 300px;
    padding: 64px 152px 64px 152px;
   
}

.sobre__titulo_e_descricao{
    display: flex;
    flex-direction: column;  
    gap: 24px;
    
}

.sobre__titulo_e_descricao h2{
    font-size: 32px;
    /* padding-left: 12px;
    border-left: 3px solid var(--background-dark-purple); */
}



.sobre__citacao{
    font-size: 18px;
    text-align: right;
    font-style: italic;
}

.sobre__titulo_e_descricao p{   
    font-size: 16px;
    text-align: justify;
   
}

.skills{
    
}

.skills__container{
    display: flex;
    flex-direction: column;
    
    min-height: 300px;
    padding: 64px 152px 64px 152px;
    gap: 24px;
}

.skills__container h2{
    text-align: center;
    font-size: 32px;
}

.skills__cards{
    display: flex;
    align-items: center; 
    /* display: grid;
    grid-template-columns: repeat(6, 1fr); */    
    gap: 24px;
    flex-wrap: wrap;
}

.skills__cards__card{
    
    display: flex;
    flex-direction: column;    
    justify-content: center;
    
    
    border-radius: 3px;
    padding: 24px;
    gap: 12px;
    border: 1px solid var(--background-black);
    

}

.hobbies .skills__cards__card, .skills .skills__cards__card{
    flex: 1;
    flex-basis: 150px;
   

}

.hobbies .skills__cards__card, .skills .skills__cards__card, .education .skills__cards__card{
    align-items: center;
}

.skills__cards__card i{
    /*color: var(--background-dark-purple);*/
    font-size: 40px;
    
}

.skills .skills__cards__card{
    background-color: var(--black);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    
}

.skills__cards__card:hover{    
    opacity: 80%;    
}

.hobbies .skills__cards__card{
    background-color: var(--black);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);

}

.education__container{
    background-color: var(--black);
}

.education__container, .courses__container{
    display: flex;
    flex-direction: column;
    padding: 64px 152px 64px 152px;    
    gap: 24px;
}

.education .skills__cards .skills__cards__card{
    
    flex: 1;
}

.education h2, .courses h2{
    font-size: 32px;    
}

.education h3{
    text-align: center;
}


.education .skills__cards__card{
    flex-basis: 100%;
    background-color: var(--background-black);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    height:200px;
}

.courses{
    background-color: var(--background-black);
}




.courses .skills__cards__card{
    flex-direction: row;
    justify-content: space-between; 
    flex-basis: 100%;
    background-color: var(--black);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    min-height:130px;
    padding: 24px;

    border-right: 5px solid var(--background-dark-purple);
    border-left: 5px solid var(--background-dark-purple);
    flex-wrap: wrap;
}

.courses h3{
    font-size: 22px;
    font-weight: bold;
}

.courses .group{
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.experience__container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--black);
    padding: 64px 152px 64px 152px;  
}

.experience__container h2{
    font-size: 32px;
    text-align: center;
}

.experience__container h3{
    font-size: 22px;
    font-weight: bold;
}

.experience__container button{
    background-color: var(--background-dark-purple);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 3px;
}

.experience__container img{
    width: 50vw;
    height: auto;
}

.experience__project{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px;
    gap: 24px;    
}

.experience__project .description{
    display: flex;    
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.experience__project .description .title{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.experience__project .buttons{
    display: flex;
    width: 100%;
    gap: 24px;
   

}

.contact__container{
    display: flex;    
    gap: 12px;
    padding: 64px 152px 64px 152px;  
    flex-wrap: wrap;

    justify-content: center;
}

.contact__container h2{
    font-size: 32px;
}

.contact__form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
    padding: 24px;
}

.contact__form textarea{
    height: 120px;
    resize: none;
    overflow: scroll;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 12px;

}
.contact__container button{
    background-color: var(--background-dark-purple);
    padding: 12px;
}

.contact__container img{
    background-color: rgba(0, 0, 0, 0.1);  
    border-radius: 3px;  
    
    /* border-radius: 50%; */
    
}


.success{
    color: #615EFC;
}

.error{
    color: tomato;
}