@media (max-width: 900px){

    .header__container{ 
        
        flex-direction: row;
        justify-content: space-between;

        padding: 24px;       
        height: 56px;
    }
        
    
    span{
        display: block;
        font-size: 30px;
        
    }

    

}



@media (min-width: 541px) and (max-width: 900px){  
       

    .home__container, .sobre__container, .skills__container, .education__container, .courses__container,.experience__container, .contact__container{
        padding: 32px;
    }

    .contact__container{
        flex-direction: column;
    }

    .titulo-principal{
        font-size: 40px;
    }

}

@media (max-width: 770px){
    .menu__list{
        display: none;
        
    }
    
    
    .menu__label{
        display: flex;
    }

}

